* {
  box-sizing: border-box;
}

.navbar .navbar-nav {
  margin: auto;
}

.nav-link {
  width: 200px;
}

.coming-soon {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 393px;
  margin-bottom: 394px;
}

#intro {
  width: 18rem;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-right: 10px;
  border-radius: 20%;
  border-style: none;
}

#selfie {
  width: 225px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-right: 50%;
  border-radius: 30%;
}

.card-link {
  margin: auto;
}

.column {
  flex: 50%;
  padding-inline: 20px;
}

.side-by-side {
  margin: auto;
}

.image-container {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.laptop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-radius: 5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  background: #092b5e;
  padding: 10px 0;
}
.footer a {
  color: #c5c5c5;
  font-size: 30px;
  padding: 10px;
  border-right: 1px solid #c5c5c5;
  transition: all 0.5s ease;
}

.footer a:first-child {
  border-left: 1px solid #c5c5c5;
}

.footer a:hover {
  color: white;
}

.carousel-container {
  position: relative;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100 {
  width: 696px !important;
  height: 564px;
  margin: auto;
  border-radius: 10%;
}

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.308);
}

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.308);
}

.carousel-description {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-caption {
  width: 500px;
  /* margin: auto; */
  margin-top: 20px;
  margin-left: 0;
  color: black;
  position: relative;
  text-align: center;
}

.d-block {
  display: flex;
  min-width: none;
}

.contact-form {
  background: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}
.contact-form .form-control {
  border-radius: 1rem;
  border-bottom-width: 5px;
  margin-bottom: 5px;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.thank-you {
  position: relative;
  text-align: center;
  margin: auto;
}

#lego-man {
  position: relative;
  width: 250px;
  margin: auto;
  margin-right: 50%;
  border-radius: 10%;
}
.lego-building {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 5%;
}
